@import 'variables';

:host {
  width: 100%;
}

footer {
  background: $footer;
  height: 200px;
  display: flex;
  p {
    align-self: flex-end;
    font-size: 12px;
    padding: 10px;
    margin-left: auto;
  }
}