@import 'variables';

:host {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
  border-bottom: 1px solid $border;
  margin-bottom: 50px;
}